<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIND</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="menu">
        <h1 class="name">CNNCT💚<br><br>{{name.capitalize()}}'s </h1><br><h1>Dashboard  </h1><br>
        <form action="{{ url_for('dashboard') }}" method="post">
            <button type="submit">Profile</button>
            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="username" value="{{ name }}">
        </form>
        <button class="active" type="submit">Find</button>
        <form action="{{ url_for('stats') }}" method="post">
            <button type="submit">Stats</button>
            <input type="hidden" name="name" value="{{name}}">
            <input type="hidden" name="id" value="{{id}}">
        </form>
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit" class="log_out_button">Logout</button>
        </form>
    </div>
    <hr>
    <hr style="height: 0px; width: 0px; position: static;">
    <div class="content">
        
        <h1 style="color: #ffff; justify-content: center;">All Campaigns</h1>
        {% for i in data %}
        <div class="request">
            <form action="{{ url_for('view_camp') }}" method="post" style="width: 100%;">
                <button type="submit">{{ i[0].capitalize() }}</button>
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="username" value="{{name}}">
                <input type="hidden" name="camp_id" value="{{i[1]}}">
            </form>
            <form action="{{url_for('find')}}" method="post" style="width:fit-content; display:inline;">
                <button type="submit" style="width:fit-content; display:inline; background-color: #FCEBB6;">Request</button>
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="username" value="{{name}}">
                <input type="hidden" name="request" value="{{i[1]}}">
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="content">
        <form action="{{ url_for('find') }}" method="post">
            <input type="text" name="search" placeholder="Search" autofocus autocomplete="off" style="width:100%;">
            <button type="submit" style="width:100%;">Filter</button>
            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="flag" value="true">
        </form>
        <form action="{{ url_for('find') }}" method="post">
            <button type="submit" style="width:100%;" class="log_out_button">Remove Filter</button>
            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="name" value="{{ name }}">
        </form>
        {%if flag == "0" %}
        <p><button type="submit" style="width:100%; display:inline; background-color: #FCEBB6;">Request Sent!!</button></p>
        {%endif%}
        {%if flag=="1" %}
        <p><button type="submit" style="width:100%; display:inline; background-color: #FCEBB6;">Already Sent!!</button></p>
        {%endif%}
    </div>
</body>
</html>
